 <div class="container">
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_index' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_userpage' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_new_curriculum_vitae' %>
    </div>
  </div>
<div class="row basic_info_new">
<div class="container">
<div class="col-md-12">
<%= render 'shared/title', title: 'Create 個人技能'%>
</div>
<%= render 'shared/create_edit_delete/work' %>
</div>
</div>