 <div class="container">
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_index' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_userpage' %>
    </div>
  </div>
<div class="row basic_info_new">
  <div class="container">
  <div class="col-md-12">
  <%= render 'shared/title', title: 'Create 基本資料'%>
</div>
</div>
<div class="container">
 <%# 新增 技能頁面 %>
    <div class="well col-md-4">
      <p>技能 :</p> 
        <div class="insert_skill_page">
        <%= link_to '語言', new_skill_path ,class: 'btn btn-primary' %>
        </div>
    </div>
    <%# 新增 作品頁面 %>
    <div class="well col-md-4">
      <p>作品 :</p>
      <div class="col-md-12"><%= link_to '作品', new_work_path ,class: 'btn btn-primary' %></div>
    </div>
    <%# 新增 自傳頁面 %>
    <div class="well col-md-4">
      <p>自傳 :</p>
      <div class="col-md-12"><%= link_to '自傳', new_autobiography_path ,class: 'btn btn-primary' %></div>
    </div>
</div>
  <div class="row">
<div class="container">
<% if find_userid_front_end? %>
  <div class="well col-md-6">
  <div class="row">
  <div>前端 :</div>
    <% @front_end_skill.each do |skill| %>
    <p class="well col-md-4">
    <%= skill.title %> :
    <% if(skill.status == 4) %>
      精通
    <% elsif(skill.status == 3) %>
      小有研究
    <% elsif(skill.status == 2) %>
      一般
    <% elsif(skill.status == 1) %>
      略懂
    </p>
    <% end %>
    <% end %> 
  <% end %> 
  </div>
  <div class="row">
  <% if find_userid_back_end? %>
  <div>後端 :</div>
    <% @back_end_skill.each do |skill| %>
    <p class="well col-md-4">
    <%= skill.title %> :
    <% if(skill.status == 4) %>
      精通
    <% elsif(skill.status == 3) %>
      小有研究
    <% elsif(skill.status == 2) %>
      一般
    <% elsif(skill.status == 1) %>
      略懂
    </p>
    <% end %>
    <% end %>
  <% end %> 
  </div>
  <div class="row">
  <% if find_userid_database? %>
  <div>資料庫 :</div>
  <% @database_skill.each do |skill| %>
    <p class="well col-md-4">
    <%= skill.title %> :
    <% if(skill.status == 4) %>
      精通
    <% elsif(skill.status == 3) %>
      小有研究
    <% elsif(skill.status == 2) %>
      一般
    <% elsif(skill.status == 1) %>
      略懂
    </p>
    <% end %>
    <% end %>
  <% end %> 
  </div>
  <div class="row">
  <% if find_userid_other? %>
  <div>其他 :</div>
  <% @other_skill.each do |skill| %>
    <p class="well col-md-4">
    <%= skill.title %> :
    <% if(skill.status == 4) %>
      精通
    <% elsif(skill.status == 3) %>
      小有研究
    <% elsif(skill.status == 2) %>
      一般
    <% elsif(skill.status == 1) %>
      略懂
    </p>
    <% end %>
    <% end %>
  <% end %> 
  </div>
  </div>
  <div class="col-md-1">
  </div>
  <% if user_work? %>
  <div class="well col-md-5">
    <div>作品 :</div>
    <% @works.each do |work| %>
    <div class="well col-md-12">
      <p>標題 : <%= work.title %></p>
      <p>說明 : <%= work.description %></p>
      <p>超連結 : <%= work.link %></p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
<div class="row">
<div class="container">
  <div class="well col-md-12">
    <% @autobiographies.each do |autobiography| %>
    <div>自傳 :</div>
      <div class="well col-md-12">
        <p>公司 : <%= autobiography.company %></p>
        <p>自傳 : </p>
        <p><%= autobiography.description %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
</div>
<div class="basic_new_fixed btn btn-success">
  <a href="#page-top">
    <p>TOP</p>
    <span id="tt" class="glyphicon glyphicon-triangle-top"></span>
  </a>
</div>
</div>