 <div class="container">
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_index' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_userpage' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_edit_curriculum_vitae_info' %>
    </div>
</div>
<div class="row basic_info_new">
<div class="container">
<div class="col-md-12">
<%= render 'shared/title', title: 'Edit 個人自傳'%>
</div>
<%= render 'shared/create_edit_delete/autobiography' %>
</div>
</div>